@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c0c0c;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titulo{
  @apply text-white md:w-[35rem]  text-3xl md:text-4xl font-bold font-georama 2xl:text-5xl;
}


.subtitulo{
  @apply text-rojo text-[14px] md:text-2xl font-bold 2xl:text-3xl;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Carrusel */
.custom-bullet {
    width: 30px !important;
    height: 12px !important;
    background: rgba(255, 255, 255, 0.3) !important;
    opacity: 1 !important;
    margin: 0 6px !important;
    border-radius: 15px !important;
    transition: all  ease !important;
    transition: 2s;
}

.custom-bullet-active {
    background: #881c1b !important;
    transform: scale(1.2) !important;
}

:global(.swiper-pagination) {
    bottom: 20px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: auto !important;
}
@media (max-width: 900px){
  .custom-bullet{
    width: 12px !important;
    height: 8px !important;
  }
}

/* Quitar flechas en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
